In [2]:
# ---
# Jupyter Notebook: 01_initial_exploration.ipynb
# Purpose: Initial CSV data reading and exploratory analysis
# ---

In [3]:
import os
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline
# For inline plots in Jupyter

In [4]:
# 1. Set the path to the CSV file
data_file = os.path.join("..", "data", "Crowd-sourced grade distributions - Sheet1.csv")

# 2. Read the CSV file into a DataFrame
df = pd.read_csv(data_file)

In [5]:
# Display the first few rows
print("Preview of the dataset:")
df.head()

Preview of the dataset:

,Submission time,User ID,Term,Course,Professor,Grade distribution,Recommend professor?
0,2023-12-23T05:50:18.840Z,b144031aa5f07b5677aa3431b98f674d,Fall Qtr 2023,CSE 120,"Voelker, Geoffrey M.","A+:11, A:41, A-:25, B+:41, B:28, B-:16, C+:12,...",NaN
1,2023-12-23T05:50:18.840Z,b144031aa5f07b5677aa3431b98f674d,Fall Qtr 2023,CSE 132A,"Vianu, Victor Dan","A+:4, A:23, A-:19, B+:40, B:15, B-:27, C+:15, ...",NaN
2,2023-12-23T05:50:18.840Z,b144031aa5f07b5677aa3431b98f674d,Fall Qtr 2023,CSE 141L,"Eldon, John","A+:1, A:28, A-:4, B+:2, B:0, B-:3, C+:0, C:3, ...",NaN
3,2023-12-23T05:50:18.840Z,b144031aa5f07b5677aa3431b98f674d,Fall Qtr 2023,CSE 167,"Li, Tzumao","A+:102, A:22, A-:11, B+:5, B:7, B-:6, C+:2, C:...",NaN
4,2023-12-23T05:50:18.840Z,b144031aa5f07b5677aa3431b98f674d,Fall Qtr 2023,CSE 230,"Jhala, Ranjit","A+:29, A:42, A-:26, B+:16, B:7, B-:1, C+:0, C:...",NaN

In [6]:
# Show basic info about the DataFrame
print("\nDataFrame info:")
df.info()

print("\nDescriptive statistics:")
df.describe()

DataFrame info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9454 entries, 0 to 9453
Data columns (total 7 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Submission time       9454 non-null   object
 1   User ID               9454 non-null   object
 2   Term                  9454 non-null   object
 3   Course                9454 non-null   object
 4   Professor             9454 non-null   object
 5   Grade distribution    9454 non-null   object
 6   Recommend professor?  0 non-null      float64
dtypes: float64(1), object(6)
memory usage: 517.1+ KB

Descriptive statistics:

       Recommend professor?
count                   0.0
mean                    NaN
std                     NaN
min                     NaN
25%                     NaN
50%                     NaN
75%                     NaN
max                     NaN

In [7]:
print("\nMissing values per column:")
df.isnull().sum()

Missing values per column:

Submission time            0
User ID                    0
Term                       0
Course                     0
Professor                  0
Grade distribution         0
Recommend professor?    9454
dtype: int64

In [8]:
# Basic visualization (if 'GPA' column exists)
if "GPA" in df.columns:
    print("\nPlotting the GPA distribution...")
    df["GPA"].hist(bins=20)
    plt.title("GPA Distribution")
    plt.xlabel("GPA")
    plt.ylabel("Frequency")
    plt.show()

In [9]:
# You can add more groupby, filtering, or visualization code below
# Example: grouping by course or professor
# df.groupby("course_name")["GPA"].mean().sort_values(ascending=False).head(10)

# This cell is reserved for additional analysis steps
print("Further exploration or summary can be added here.")

Further exploration or summary can be added here.